
.active {
    background-color:greenyellow;
}

table {
    border-color: slategray;
    border-spacing: 0px;
    border-collapse: separate;
}

td {
    cursor: pointer;
    padding: 0px;
    border: none;
    width: 80px;
    height: 80px;
    background-color: black;
}